.busStopScrollList {
  border: solid 4px;
  border-color: #337ab7;
  height: 245px;
  width:158px;
  overflow:hidden; overflow-y:scroll;
  border-radius: 5px;
  color: #337ab7;
  font-size: 17px;
  margin-left: 15px;
}
@media (max-width: 768px) {
  .busStopScrollList {
    min-width:94%;
    font-size: 30px;
  }
}

.busStopScrollList li:hover {
  background-color: #337ab7;
  color: white;
  font-weight: bold;
}

.stopsHeader{
  color: #337ab7;
  margin-left: 35px;
  font-size: 40px;
  width: auto;
  text-align: center;
  font-weight: bold;
}

.busStopsFiltr{
  color: #337ab7;
  margin-left: 35px ;
}