<!DOCTYPE html>
<html ng-app="transportApp" class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KoLiber</title>
  <link rel="icon" href="images/others/koliber-logo.png"/>
  <link href="styles/reset.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/ui-bootstrap/ui-bootstrap-1.2.5-csp.css">
  <link href="styles/index.css" rel="stylesheet">
  <link href="styles/sidebar.css" rel="stylesheet">
  <link href="styles/favorites.css" rel="stylesheet">
</head>
<body>
<!--TOP BAR-->
<nav class="navbar navbar-default no-margin">
  <div class="navbar-header fixed-brand">
    <a class="navbar-brand" href="#"><img class="logo-half" src="images/others/koliber-logo.png"></a>
    <div class="container" ng-controller="collapseMenu">
      <button ng-class="{active:tab===4}"
              ng-click="tab = 4" type="button"
              class="btn btn-default btn-lg button-topbar button-favorites" aria-label="Left Align">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        &nbsp Ulubione
      </button>
      <button type="button" class="btn btn-default navbar-toggle collapsed"
              ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      <div uib-collapse="isCollapsed" class="collapseMenu">
        <div class="well well-lg collapseMenu">
          <button ng-class="{active:tab===1}"
                  ng-click="tab = 1" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            &nbsp Przystanki
          </button>

          <button ng-class="{active:tab===2}"
                  ng-click="tab = 2" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            &nbsp Linie
          </button>

          <button ng-class="{active:tab===3}"
                  ng-click="tab = 3" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            &nbsp Opóźnienia
          </button>

          <button ng-class="{active:tab===4}"
                  ng-click="tab = 4" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            &nbsp Ulubione
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--TOP BAR END-->
<!--SIDEBAR-->
<div id="wrapper">
  <div id="sidebar-wrapper" ng-init="tab = 4">

    <button ng-class="{active:tab===1}"
            ng-click="tab = 1" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-list-alt"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:tab===2}"
            ng-click="tab = 2" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-road"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:tab===3}"
            ng-click="tab = 3" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-hourglass"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:tab===4}"
            ng-click="tab = 4" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-heart-empty"
            aria-hidden="true"></span>
    </button>

  </div>
  <!--SIDEBAR END-->
  <!-- CONTENT -->
  <div id="page-content-wrapper">
    <div class="panel" ng-show="tab === 1">
      <span>TAB 1</span>

    </div>
    <div class="panel" ng-show="tab === 2">
      <span>TAB 2</span>

    </div>
    <div class="panel" ng-show="tab === 3">
      <span>TAB 3</span>

    </div>
    <div class="panel" ng-show="tab === 4">
      <div ng-controller="busStopAccordion" class="container-fluid favorites">
        <div class="comboboxSelector">
          <select class="form-control color">
            <option ng-repeat="busStops in busStops">{{busStops.name}}</option>
          </select>
          <button class="btn btn-primary btn-selector">Dodaj przystanek</button>
        </div>

        <div class="comboboxSelector">
          <select class="form-control color">
            <option>Pokaż wszystkie</option>
            <option ng-repeat="busStops in busStops">{{busStops.bus}}</option>
          </select>
          <button class="btn btn-primary btn-selector">Filtruj</button>
        </div>

        <div class="busStopAccordion">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group ng-repeat="busStops in busStops" heading={{busStops.name}}>
              <table class="table table-striped col-lg-12 table-stops">
                <tr>
                  <td class="col-line-no-header border background-color">Numer linii</td>
                  <td class="col-departures col-departures-header border background-color">Godziny odjazdu</td>
                </tr>
                <tr>
                  <td class="col-line-no border">
                    <h3><span class="label label-primary">{{busStops.bus}}</span></h3>
                    <h4><span class="label label-primary">{{busStops.destination}}</span></h4>
                  </td>
                  <td class="col-departures border">
                    <span class="departure-span">{{busStops.departures}}</span>
                  </td>
                </tr>
              </table>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTENT END-->
</div>
<script src="vendor/jquery.min.js"></script>
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular/angular-animate.js"></script>
<script src="vendor/angular/angular-touch.js"></script>
<script src="vendor/ui-bootstrap/ui-bootstrap-tpls-1.2.5.min.js"></script>
<script src="vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>