  <div class="modal-header">
    <p class="modal-title"><b>Detale przejazdu autobusu:</b></p>
  </div>
  <div class="modal-body bus-lines-modal">
    <h3><span class="label label-primary">{{busDetailsArray[0]}}</span></h3>
    <h4 class="bus-destination-label-modal"><span class="label label-primary">{{busDetailsArray[1]}}</span></h4>

    <table class="table table-striped table-stops">
      <tr>
        <td class="col-line-no-header border background-color"><b>Przystanek</b></td>
        <td class="col-line-no-header border background-color"></td>
        <td class="col-departures col-departures-header border background-color"><b>Godzina odjazdu</b></td>
      </tr>
      <tr class="past-elements" ng-repeat="busStop in pastBusStops">
        <td class="col-stop-name border">
          <h3><span class="label label-primary modal-label">{{busStop}}</span></h3>
        </td>
        <td class="col-stop-name border">
          <img src="images/others/line-stop-icon.png">
        </td>
        <td class="col-departures border">
          <h4><span class="label label-primary departure-span modal-label">{{timetable[0].timetable[$index]}}</span></h4>
        </td>
      </tr>
      <tr ng-repeat="busStop in remainingBusStops">
        <td class="col-stop-name border">
          <h3><span class="label label-primary modal-label">{{busStop}}</span></h3>
        </td>
        <td class="col-stop-name border">
          <img src="images/others/line-stop-icon.png">
        </td>
        <td class="col-departures border">
          <h4><span class="label label-primary departure-span modal-label">{{timetable[0].timetable[$index+selectedBusStopIndex]}}</span></h4>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Zamknij</button>
  </div>