<!DOCTYPE html>
<html ng-app="transportApp" class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KoLiber</title>
  <link rel="icon" href="images/others/koliber-logo.png"/>
  <link href="styles/reset.css" rel="stylesheet">
  <link rel="stylesheet" href="../../src/app/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../src/app/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link href="styles/index.css" rel="stylesheet">
  <link href="styles/frame.css" rel="stylesheet">
  <link href="styles/favorites.css" rel="stylesheet">
  <link href="styles/busStops.css" rel="stylesheet">
</head>
<body>
<!--TOP BAR-->
<nav class="navbar navbar-default no-margin">
  <div class="navbar-header fixed-brand">
    <a class="navbar-brand" href="#"><img class="logo-half" src="images/others/koliber-logo.png"></a>
    <div class="container" ng-controller="collapseMenu">
      <button ng-class="{active:tab===4}"
              ng-click="tab = 4" type="button"
              class="btn btn-default btn-lg button-topbar button-favorites" aria-label="Left Align">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        &nbsp Ulubione
      </button>
      <button type="button" class="btn btn-default navbar-toggle collapsed"
              ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      <div uib-collapse="isCollapsed" class="collapseMenu">
        <div class="well well-lg collapseMenu">

          <button ng-class="{active:tab===1}"
                  ng-click="tab = 1" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            &nbsp Przystanki
          </button>

          <button ng-class="{active:tab===2}"
                  ng-click="tab = 2" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            &nbsp Linie
          </button>

          <button ng-class="{active:tab===3}"
                  ng-click="tab = 3" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            &nbsp Opóźnienia
          </button>

          <button ng-class="{active:tab===4}"
                  ng-click="tab = 4" type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            &nbsp Ulubione
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--TOP BAR END-->
<!--SIDEBAR-->
<div id="wrapper">
  <div id="sidebar-wrapper" ng-init="tab = 4">

    <button ng-class="{active:tab===1}"
            ng-click="tab = 1" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-list-alt"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:tab===2}"
            ng-click="tab = 2" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-road"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:tab===3}"
            ng-click="tab = 3" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-hourglass"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:tab===4}"
            ng-click="tab = 4" type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-heart-empty"
            aria-hidden="true"></span>
    </button>

  </div>
  <!--SIDEBAR END-->
  <!-- CONTENT -->
  <div id="page-content-wrapper">
    <div class="panel container-fluid" ng-controller="busStopAccordion" ng-show="tab === 1">
      <h1 class="stopsHeader">Lista przystanków</h1>
      <ul class="busStopScrollList col-md-4">
        <li ng-repeat="busStop in busStops">{{busStop.name}}</li>

      </ul>

      <div class="busStopInfo col-sm-8">


      </div>
      <div class="busStopsFiltr col-md-12">
        <input type="text"> </input>
        <button>wyszukaj</button>
      </div>
    </div>

    <div class="panel container-fluid" ng-show="tab === 2">
      <span>TAB 2</span>

    </div>
    <div class="panel container-fluid" ng-show="tab === 3">
      <span>TAB 3</span>

    </div>

    <div class="panel container-fluid" ng-show="tab === 4">
      <h3 class="title">Ulubione przystanki</h3>
      <div ng-controller="busStopAccordion" class="container-fluid favorites">
        <div class="comboboxSelector">
          <select name="selectedBusStop" class="form-control color" id="selectedBusStop">
            <option ng-repeat="busStops in busStops">
              {{busStops.name}}</option>
          </select>
          <button ng-controller="addToFavorites" ng-click="addBusStopToFavorites()"
                  class="btn btn-primary btn-selector">Dodaj przystanek</button>
        </div>

        <div class="comboboxSelector">
          <select class="form-control color">
            <option>Pokaż wszystkie</option>
            <option ng-repeat="favoriteBusStops in favoriteBusStops">{{favoriteBusStops.bus.line}}</option>
          </select>
          <button class="btn btn-primary btn-selector">Filtruj</button>
        </div>

        <div class="busStopAccordion">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group ng-repeat="favoriteBusStops in favoriteBusStops"
                                 heading={{favoriteBusStops.name}}>
              <table class="table table-striped col-lg-12 table-stops">
                <tr>
                  <td class="col-line-no-header border background-color">Numer linii</td>
                  <td class="col-departures col-departures-header border background-color">Godziny odjazdu</td>
                </tr>
                <tr ng-repeat="bus in favoriteBusStops.bus">
                  <td  class="col-line-no border">
                    <h3><span class="label label-primary">{{bus.line}}</span></h3>
                    <h4><span class="label label-primary">{{bus.destination}}</span></h4>
                  </td>
                  <td class="col-departures border">
                    <span ng-repeat="departures in favoriteBusStops.bus"
                          class="departure-span">{{departures.departures}}</span>
                  </td>
                </tr>
              </table>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTENT END-->
</div>
<script src="../../src/app/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../src/app/bower_components/angular/angular.min.js"></script>
<script src="../../src/app/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../../src/app/bower_components/angular-touch/angular-touch.min.js"></script>
<script src="../../src/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../../src/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app.js"></script>
</body>
</html>