<!DOCTYPE html>
<html ng-app="transportApp" class="no-js" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KoLiber</title>
  <link rel="icon" href="images/others/koliber-logo.png"/>
  <link href="styles/reset.css" rel="stylesheet">
  <link rel="stylesheet" href="../../src/app/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../src/app/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link href="styles/index.css" rel="stylesheet">
  <link href="styles/frame.css" rel="stylesheet">
  <link href="styles/favorites.css" rel="stylesheet">
</head>
<body ng-controller="panelController">
<!--TOP BAR-->
<nav class="navbar navbar-default no-margin">
  <div class="navbar-header fixed-brand">
    <a class="navbar-brand" href="#"><img class="logo-half" src="images/others/koliber-logo.png"></a>

    <div class="container">
      <button ng-class="{active:ifTabSelected(4)}"
              ng-click=selectTab(4) type="button"
              class="btn btn-default btn-lg button-topbar button-favorites" aria-label="Left Align">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        &nbsp Ulubione
      </button>
      <button type="button" class="btn btn-default navbar-toggle collapsed"
              ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
      <div uib-collapse="isCollapsed" class="collapseMenu">
        <div class="well well-lg collapseMenu">

          <button ng-class="{active:ifTabSelected(1)}"
                  ng-click=selectTab(1) type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            &nbsp Przystanki
          </button>

          <button ng-class="{active:ifTabSelected(2)}"
                  ng-click=selectTab(2) type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            &nbsp Linie
          </button>

          <button ng-class="{active:ifTabSelected(3)}"
                  ng-click=selectTab(3) type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
            &nbsp Opóźnienia
          </button>

          <button ng-class="{active:ifTabSelected(4)}"
                  ng-click=selectTab(4) type="button"
                  class="btn btn-default btn-lg button-topbar" aria-label="Left Align">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            &nbsp Ulubione
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--TOP BAR END-->
<div id="wrapper">
  <!--SIDEBAR-->
  <div id="sidebar-wrapper">

    <button ng-class="{active:ifTabSelected(1)}"
            ng-click=selectTab(1) type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-list-alt"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:ifTabSelected(2)}"
            ng-click=selectTab(2) type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-road"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:ifTabSelected(3)}"
            ng-click=selectTab(3) type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-hourglass"
            aria-hidden="true"></span>
    </button>

    <button ng-class="{active:ifTabSelected(4)}"
            ng-click=selectTab(4) type="button"
            class="btn btn-default btn-lg button-sidebar"
            aria-label="Left Align">
      <span class="glyphicon glyphicon-heart-empty"
            aria-hidden="true"></span>
    </button>

  </div>
  <!--SIDEBAR END-->
  <!-- CONTENT -->
  <div id="page-content-wrapper">
    <div class="panel" ng-show=ifTabSelected(1)>
      <span>TAB 1</span>

    </div>
    <div class="panel" ng-show=ifTabSelected(2)>
      <span>TAB 2</span>

    </div>
    <div class="panel" ng-show=ifTabSelected(3)>
      <span>TAB 3</span>

    </div>
    <div class="panel" ng-show=ifTabSelected(4)>
      <h3 class="title">Ulubione przystanki</h3>

      <div ng-controller="favouritesCtrl" class="container-fluid favorites">
        <div class="comboboxSelector">
          <select name="selectedBusStop" class="form-control color" id="selectedBusStop">
            <option ng-repeat="busStops in busStops">
              {{busStops.name}}
            </option>
          </select>
          <button ng-click="addBusStopToFavorites()"
                  class="btn btn-primary btn-selector">
            Dodaj przystanek
          </button>
        </div>

        <div class="comboboxSelector">
          <select class="form-control color" id="selectedLine">
            <option>Pokaż wszystkie</option>
            <option ng-repeat="line in busLines">{{line}}</option>
          </select>
          <button ng-click="filterFavouritesByLines()" class="btn btn-primary btn-selector">Filtruj</button>
        </div>

        <div class="busStopAccordion">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group ng-repeat="favoriteBusStop in favoriteBusStops track by $index"
                                 ng-hide="accordion===1"
                                 heading={{favoriteBusStop.name}}>
              <uib-accordion-heading>
                {{favoriteBusStop.name}}
                <span class="glyphicon glyphicon-remove btn-favorites-remove"
                      ng-click="removeFavoriteBusStop($index, $event)" aria-hidden="true"></span>
              </uib-accordion-heading>
              <table class="table table-striped table-stops">
                <tr>
                  <td class="col-line-no-header border background-color">Numer linii</td>
                  <td class="col-departures col-departures-header border background-color">Godziny odjazdu</td>
                </tr>
                <tr ng-repeat="bus in favoriteBusStop.bus">
                  <td class="col-line-no border">
                    <h3><span class="label label-primary">{{bus.line}}</span></h3>
                    <h4><span class="label label-primary">{{bus.destination}}</span></h4>
                  </td>
                  <td class="col-departures border">
                    <div>
                      <span ng-repeat="departure in bus.departures"
                            ng-click="getDetails(bus.line, bus.destination, departure, favoriteBusStop.name)"
                            class="departure-span">{{departure}}</span>
                    </div>

                  </td>
                </tr>
              </table>
            </uib-accordion-group>

            <uib-accordion-group ng-repeat="filteredBusStop in filteredBusStops track by $index"
                                 ng-hide="accordion===0"
                                 heading={{filteredBusStop.name}}>
              <uib-accordion-heading>
                {{filteredBusStop.name}}
                <span class="glyphicon glyphicon-remove btn-favorites-remove"
                      ng-click="removeFavoriteBusStop($index, $event)" aria-hidden="true"></span>
              </uib-accordion-heading>
              <table class="table table-striped table-stops">
                <tr>
                  <td class="col-line-no-header border background-color">Numer linii</td>
                  <td class="col-departures col-departures-header border background-color">Godziny odjazdu</td>
                </tr>
                <tr ng-repeat="bus in filteredBusStop.bus">
                  <td class="col-line-no border">
                    <h3><span class="label label-primary">{{bus.line}}</span></h3>
                    <h4><span class="label label-primary">{{bus.destination}}</span></h4>
                  </td>
                  <td class="col-departures border">
                    <span ng-repeat="departure in bus.departures"
                          class="departure-span">{{departure}}</span>
                  </td>
                </tr>
              </table>
            </uib-accordion-group>

          </uib-accordion>
        </div>
      </div>

      <div>
        <script type="text/ng-template" id="busLineDetailsTemplate.html">
          <div class="modal-header">
            <p class="modal-title"><b>Detale przejazdu autobusu:</b></p>
          </div>
          <div class="modal-body">
            <h3><span class="label label-primary">{{busDetailsArray[0]}}</span></h3>
            <h4><span class="label label-primary">{{busDetailsArray[1]}}</span></h4>

            <table class="table table-striped table-stops">
              <tr>
                <td class="col-line-no-header border background-color">Przystanek</td>
                <td class="col-departures col-departures-header border background-color">Godzina odjazdu</td>
              </tr>
              <tr>
                <td class="col-stop-name border">
                  <span class="label label-primary">Strzelców</span>
                </td>
                <td class="col-departures border">
                    <span class="departure-span">0705</span>
                </td>
              </tr>
              <tr>
                <td class="col-stop-name border">
                  <span class="label label-primary">Buraczana</span>
                </td>
                <td class="col-departures border">
                  <span class="departure-span">0709</span>
                </td>
              </tr>
              <tr>
                <td class="col-stop-name border">
                  <span class="label label-primary">Tuwima</span>
                </td>
                <td class="col-departures border">
                  <span class="departure-span">0721</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Zamknij</button>
          </div>
        </script>
      </div>
    </div>
  </div>
  <!-- CONTENT END-->
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="app.js"></script>
<script src="busStopsService.js"></script>
<script src="lineDetailsService.js"></script>
</body>
</html>